{{!-- <form action="" id="my-form" >
    <h1>List Products</h1>
        <h1>Hello World</h1>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Word</label>
            <input  class="form-control" id="word" placeholder="Word">
        </div>
    <button id="btn" class="btn btn-primary" type="submit">Search</button>
    <div id="content"></div>
</form> --}}

<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Inventory</th>
          <th>Type</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody id="body-table">
  
      </tbody>
    </table>
</div>

<script src="/javascripts/deleted-product.js"></script>