<div>
    <form>
        <div class="container">
            <h2>Shipper Order History</h2>
            <button class="btn" value="shipperid" type="submit" formaction="OrderList">Danh sách đơn hàng đã
                nhận</button>
            <button class="btn" value="shipperid" type="submit" formaction="searchOrder">Nhận đơn</button>
        </div>
    </form>
</div>