<div class="container">
    <br>
    <div>
        <form action="" method="post">
<label style="font-size:30px"> order id:</label><br> <input name="inputorderid", value="{{OrderId}}" readonly> <br><br>
<label style="font-size:30px">status:</label>  <br>
<select name="selectstatus" id="status" class="form-control pull-right">
<option value="0">đang tới</option>
<option value="1" selected="selected">đang giao</option>
<option value="2">đã nhận</option>
</select>
<br>
<br>
</div>
<div style="text-align: center">
<button type="submit" style="height:50px;width:70px">update</button>
</form>
</div>

</div>