
<div class="container">
    
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 pb-5">
                    <!--Form with header-->

                    <form id="my-form">
                        <div class="card border-primary rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-info text-white text-center py-2">
                                    <h3><i ></i> Create Store </h3>
                                
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->
                                <div class="form-group">
                                    
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><h7> Store Name</h7></div>
                                        </div>
                                        <input type="text" class="form-control" id="StoreName" name="StoreName" placeholder=" StoreName" required>
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><h7> Store Phone</h7></div>
                                        </div>
                                        <input type="text" class="form-control" id="StorePhone" name="StorePhone" placeholder="0949104115" required>
                                    </div>
                                     <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><h7> Store Rate</h7></div>
                                        </div>
                                        <input type="text" class="form-control" id="StoreRate" name="StoreRate" placeholder="5" required>
                                    </div>
                                     <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><h7> Store Area</h7></div>
                                        </div>
                                        <input type="text" class="form-control" id="StoreArea" name="StoreArea " placeholder="47" required>
                                    </div>
                                     <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><h7> User Id </h7></div>
                                        </div>
                                        <input type="text" class="form-control" id="UserId" name="UserId " placeholder="1" required>
                                    </div>
                               

                                

                                <div class="text-center">
                                    <input type="submit" value="Create" class="btn btn-info btn-block rounded-0 py-2">
                                </div>
                            </div>

                        </div>
                    </form>
     </div>
	</div>
</div>


<script src="/javascripts/store.js"></script>















