<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="/user">Tài khoản</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

{{#with user}}
<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget recent-post">
                        <!-- Single Post -->
                        <div class="single-post account first">
                            <div class="image">
                                <img src="https://via.placeholder.com/75x75" alt="#">
                            </div>
                            <div class="content">
                                <h5><a class="user-name-fix" href="#">{{userName}}</a></h5>
                                <a class="user-edit"><i class="fa fa-pencil" aria-hidden="true"></i>
                                    Chỉnh sửa</a>
                            </div>
                        </div>
                        <!-- End Single Post -->
                        <ul class="categor-list">
                            <li><a href="/user">Thông tin tài khoản</a></li>
                            <li><a href="/user/order">Đơn hàng</a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="row">
                    <div class="col-12">
                        <!-- Shop Top -->
                        <div class="shop-top">
                            <div class="shop-shorter">
                                <h4>THÔNG TIN TÀI KHOẢN</h4>
                            </div>
                        </div>
                        <!--/ End Shop Top -->
                    </div>
                </div>
                <div class="row">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->
{{/with}}